[core]
	autocrlf = false
	quotepath = false
	whitespace = cr-at-eol
	editor = vim -c 'set fenc=utf-8'
	pager = less -FRSX
[color]
	ui = auto
[color "branch"]
	current = green
	local = normal
	remote = red
	upstream = magenta
[color "diff"]
	meta = magenta
	frag = cyan
	old = red
	new = green
[color "status"]
	added = green
	changed = red
	unmerged = red
	untracked = magenta
[push]
	default = current
[pull]
	rebase = merges
[merge]
	ff = false
[rebase]
	autosquash = true
[stash]
	showStat = false
	showPatch = true
[pager]
	log = diff-highlight | less -FRSX
	show = diff-highlight | less -FRSX
	diff = diff-highlight | less -FRSX
[interactive]
	diffFilter = diff-highlight | less -FRSX
[status]
	showUntrackedFiles = all
[log]
	date = iso
[pretty]
	compact = "tformat:%C(yellow)%h%C(auto)%d%Creset %s %C(bold black)-%Creset %C(magenta)%cd%Creset %C(bold black)-%Creset %C(bold blue)%an%Creset"
	message = "format:%C(yellow)%h%C(auto)%d%Creset %C(bold black)-%Creset %C(magenta)%cd%Creset %C(bold black)-%Creset %C(bold blue)%an <%ae>%Creset%n%n%w(0,4,4)%B"
[diff]
	mnemonicPrefix = true
	renames = true
	indentHeuristic = true
	algorithm = histogram
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	a = add
	au = add -u
	aa = add -A
	ap = add -p
	c = commit -v
	cm = commit -m
	s = status
	d  = diff
	dc = diff --cached
	wd  = diff --word-diff=color --unified=1
	wdc = diff --word-diff=color --unified=1 --cached
	jd  = diff --word-diff=color --word-diff-regex='[^\\x80-\\xBF][\\x80-\\xBF]*'
	jdc = diff --word-diff=color --word-diff-regex='[^\\x80-\\xBF][\\x80-\\xBF]*' --cached
	dd  = difftool --dir-diff
	ddc = difftool --dir-diff --cached
	dr = !"f() { r=${1:-HEAD}; git diff $r~..$r; }; f"
	b = branch
	ba = branch -avv
	bd = branch -D
	bdr = push --delete
	co = checkout
	cob = checkout -b
	cop = checkout -p
	r = reset
	rs = reset --soft
	rh = reset --hard
	pl = pull
	ps = push
	f = fetch
	fp = fetch --prune
	m = merge --no-edit
	mf = merge --ff
	ff = merge --ff
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
	cp = cherry-pick
	sh = show
	sl = stash list
	ss = stash save --include-untracked
	sp = !"f() { git stash pop --index stash@{${1:-0}}; }; f"
	sa = !"f() { git stash apply --index stash@{${1:-0}}; }; f"
	sd = !"f() { git stash drop stash@{${1:-0}}; }; f"
	ssh = !"f() { git stash show stash@{${1:-0}}; }; f"
	l  = log --oneline --decorate --graph
	la = log --oneline --decorate --graph --all
	ll  = log --pretty=compact --date=relative --graph
	lla = log --pretty=compact --date=relative --graph --all
	ln = log --pretty=message --date=iso --name-status
	lp = log --pretty=message --date=iso --patch
	lt = log --pretty=message --date=iso --simplify-by-decoration
	g = grep -EI
	gi = grep -EIi
	discard = checkout --
	untrack = rm --cache --
	unstage = reset -q HEAD --
	uncommit = reset --mixed HEAD~
	recommit = commit --amend --no-edit
	amend = commit --amend -v
	reword = commit --amend -m
	fixup = commit --fixup
	squash = commit -v --squash
	chmod = update-index --add --chmod
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	branches = branch -avv
	tags = tag
	stashes = stash list
	stashed = stash list
	remotes = remote -v
	worktrees = worktree list
[diff "opml"]
	textconv = opml2md
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[url "git@bitbucket.org:"]
	pushInsteadOf = https://bitbucket.org/
	pushInsteadOf = git://bitbucket.org/
[include]
	path = ~/.gitconfig.user
	path = ~/.gitconfig.os
	path = ~/.gitconfig.local
