[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[core]
	quotepath = false
[color]
	ui = auto
[alias]
	a = add .
	au = add -u
	aa = add -A
	c = commit
	cm = commit -m
	co = checkout
	s = status --short --branch
	st = status
	d = diff
	dc = diff --cached
	b = branch -a
	l = log --graph -all --oneline --decorate --date-order
	hist = log --graph --all --oneline --decorate --date-order
[diff]
	tool = WinMerge
[difftool]
	prompt = false
[difftool "WinMerge"]
	cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' -e -r -u -x -wl -wr -dl \"a/$MERGED\" -dr \"b/$MERGED\" \"$(cygpath -am \"$LOCAL\")\" \"$(cygpath -am \"$REMOTE\")\"
	trustExitCode = false
[merge]
	tool = WinMerge
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "WinMerge"]
	cmd = 'C:/Program Files/WinMerge/WinMergeU.exe' \"$MERGED\"
	trustExitCode = false
[url "github:"]
	insteadOf = https://github.com/
	insteadOf = git@github.com:
[url "bitbucket:"]
	insteadOf = https://bitbucket.org/
	insteadOf = git@bitbucket.org:
[ghq]
	root = ~/dev/src
	root = ~/dev/go/src
