[include]
	path = ~/.gitconfig.user
	path = ~/.gitconfig.local
[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	autocrlf = false
	quotepath = false
	whitespace = cr-at-eol
[color]
	ui = auto
[push]
	default = current
[alias]
	a = add
	au = add --update
	aa = add --all
	ap = add --patch
	c = commit
	ca = commit --all
	cm = commit -m
	co = checkout
	s = status --short --branch
	st = status
	d = diff
	dc = diff --cached
	b = branch --all
	l = !git lg -n 20
	la = !git lg -n 20 --all
	lg = log --graph --pretty=format:'%C(yellow)%h%C(bold cyan)%d%Creset %s %C(magenta)[%cd]%Creset %C(bold blue)<%an>%Creset' --date=relative
	ls = log --stat --pretty=format:'%C(reverse yellow)%h%Creset  %C(magenta)%cd%Creset  %C(bold blue)%an <%ae>%Creset%n%n%w(0,4,4)%B' --date=iso
	lp = log -p --pretty=format:'%C(reverse yellow)%h%Creset  %C(magenta)%cd%Creset  %C(bold blue)%an <%ae>%Creset%n%n%w(0,4,4)%B' --date=iso
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	ignore = !"f() { for x in "$@"; do echo "$x" >> "${GIT_PREFIX}".gitignore; shift; done; }; f"
	init-ignore = !"f() { local s=$1; shift; for x in "$@"; do s="$s,$x"; shift; done; curl -L -s -o .gitignore "http://www.gitignore.io/api/$s";}; f"
	amend = commit --amend
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
[url "git@bitbucket.org:"]
	pushInsteadOf = https://bitbucket.org/
	pushInsteadOf = git://bitbucket.org/
[ghq]
	root = ~/dev/src
	root = ~/dev/go/src
