"*":
  core:
    disabledPackages: [
      "background-tips"
      "language-gfm"
      "markdown-pdf"
      "markdown-preview"
      "merge-conflicts"
      "open-on-github"
      "spell-check"
      "welcome"
      "whitespace"
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".dropbox"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "one-dark-vivid-syntax"
    ]
  editor:
    fontFamily: "\"MyricaM M\", Consolas, Meiryo"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: false
    tabLength: 4
  "exception-reporting":
    userId: "f0ec3e51-2f16-5099-84b2-c6a870b108b5"
  "file-icons":
    coloured: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontFamily: "\"MiricaM M\", Consolas, Meiryo"
    fontScale: 1
  "git-plus":
    commits:
      verboseCommits: true
    experimental:
      diffBranches: true
    general:
      splitPane: "Right"
    remoteInteractions:
      pullRebase: true
  "highlight-selected":
    highlightBackground: true
  "line-ending-selector":
    defaultLineEnding: "LF"
  "local-history":
    autoPurge: true
    difftoolCommand: "\"C:\\Program Files\\WinMerge\\WinMergeU.exe\" \"{current-file}\" \"{revision-file}\""
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  "markdown-table-editor":
    eawAmbiguousAsWide: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "platformio-ide-terminal":
    core:
      shell: "C:\\Cygwin64\\bin\\bash.exe"
      shellArguments: "--login -i"
  tabs:
    addNewTabsAtEnd: true
    enableMruTabSwitching: false
    enableVcsColoring: true
  tempfile:
    autoIndent: true
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  wordcount:
    noextension: true
".md.text":
  editor:
    softWrap: true
".plain.text":
  editor:
    softWrap: true
