# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson


##################################################
## Global
##################################################

'.platform-win32, .platform-linux':
  'ctrl-g': 'unset!'  ## Git 関連コマンドの prefix key として使うため無効化


##################################################
## Workspace
##################################################

'.platform-win32 atom-workspace, .platform-linux atom-workspace':

  ## ファイル操作
  'ctrl-o': 'advanced-open-file:toggle'

  ## カーソル移動
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'alt-p': 'core:page-up'
  'alt-n': 'core:page-down'
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  ## ペイン操作
  ## prefix key を 'ctrl-k' から 'ctrl-q' にして再定義
  'ctrl-q up': 'pane:split-up-and-copy-active-item'
  'ctrl-q down': 'pane:split-down-and-copy-active-item'
  'ctrl-q left': 'pane:split-left-and-copy-active-item'
  'ctrl-q right': 'pane:split-right-and-copy-active-item'
  'ctrl-q ctrl-w': 'pane:close'
  'ctrl-q ctrl-alt-w': 'pane:close-other-items'
  'ctrl-q ctrl-o': 'custom:close-other-panes'
  'ctrl-q ctrl-p': 'window:focus-previous-pane'
  'ctrl-q ctrl-n': 'window:focus-next-pane'
  'ctrl-q ctrl-up': 'window:focus-pane-above'
  'ctrl-q ctrl-down': 'window:focus-pane-below'
  'ctrl-q ctrl-left': 'window:focus-pane-on-left'
  'ctrl-q ctrl-right': 'window:focus-pane-on-right'

  ## シンボル解析
  'ctrl-alt-r': 'symbols-tree-view:toggle'

  ## Git
  'ctrl-shift-G': 'git-plus:menu'
  'ctrl-g a': 'git-plus:add'
  'ctrl-g shift-A': 'git-plus:add-all'
  'ctrl-g u': 'git-plus:add-modified'
  'ctrl-g c': 'git-plus:commit'
  'ctrl-g s': 'git-plus:status'
  'ctrl-g l': 'git-log:show'
  'ctrl-g d': 'split-diff:toggle'

  ## 上書きしてしまったキーバインドの置き換え
  'ctrl-alt-o': 'application:open-file'              ## ctrl-o
  'ctrl-alt-p': 'fuzzy-finder:toggle-file-finder'    ## ctrl-p
  'ctrl-alt-n': 'application:new-file'               ## ctrl-n
  'ctrl-alt-b': 'fuzzy-finder:toggle-buffer-finder'  ## ctrl-b
  'ctrl-alt-f': 'find-and-replace:show'              ## ctrl-f
  'ctrl-alt-shift-G': 'styleguide:show'              ## ctrl-shift-G
  'ctrl-alt-g': 'go-to-line:toggle'                  ## ctrl-g


##################################################
## Editor
##################################################

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':

  ## カーソル移動
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'alt-b': 'editor:move-to-beginning-of-word'
  'alt-f': 'editor:move-to-end-of-word'

  ## 削除
  'ctrl-d': 'core:delete'
  'ctrl-h': 'core:backspace'
  'ctrl-k': 'editor:cut-to-end-of-line'
  'alt-d': 'editor:delete-to-end-of-word'
  'alt-h': 'editor:delete-to-beginning-of-word'

  ## 上書きしてしまったキーバインドの置き換え
  'ctrl-alt-a': 'core:select-all'                                 ## ctrl-a
  'ctrl-alt-e': 'find-and-replace:use-selection-as-find-pattern'  ## ctrl-e
  'alt-f3': 'find-and-replace:select-next'                        ## ctrl-d
  'alt-shift-f3': 'find-and-replace:select-undo'                  ## ctrl-u（操作の一貫性のため追加）
  'ctrl-alt-shift-f3': 'find-and-replace:select-all'              ## alt-f3


##################################################
## Editor - not mini
##################################################

'.platform-win32 atom-text-editor:not([mini]), .platform-linux atom-text-editor:not([mini])':

  ## カーソル移動
  'ctrl-p': 'move-cursor-improved:move-up'
  'ctrl-n': 'move-cursor-improved:move-down'

  ## カーソル位置のリンクを開く
  'ctrl-alt-l': 'link:open'

  ## オートコンプリート
  'ctrl-j': 'autocomplete-plus:activate'


##################################################
## Editor - autocomplete
##################################################

'.platform-win32 atom-text-editor:not([mini]).autocomplete-active, .platform-linux atom-text-editor:not([mini]).autocomplete-active':

  ## カーソル移動
  'up': 'autocomplete-plus:move-up'
  'down': 'autocomplete-plus:move-down'
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'tab': 'autocomplete-plus:move-down'
  'shift-tab': 'autocomplete-plus:move-up'

  ## 決定
  'enter': 'autocomplete-plus:confirm'


##################################################
## Community Packages
##################################################

'.advanced-open-file atom-text-editor':
  'alt-h': 'advanced-open-file:delete-path-component'

'.pdf-view':
  'ctrl-alt-g': 'pdf-view:go-to-page'

'tablr-editor':
  'ctrl-alt-g': 'tablr:go-to-line'

'.platform-win32 ft-outline-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-c': 'core:copy'

'ft-outline-editor.outline-mode':
  'a': 'editor:move-to-beginning-of-paragraph'
  'e': 'editor:move-to-end-of-paragraph'
