<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip.install" />
	<package id="adobereader" />
	<package id="ccleaner" />
	<package id="cubepdf" />
	<package id="cubepdfutility" />
	<package id="curl" />
	<package id="gimp" />
	<package id="git.install" packageParameters="'/GitOnlyOnPath /NoAutoCrlf /NoShellIntegration'" />
	<package id="greenshot" />
	<package id="jdk8" />
	<package id="jre8" />
	<package id="linkshellextension" />
	<package id="mendeley" />
	<package id="mpc-hc" />
	<package id="nodejs.install" />
	<package id="pandoc" />
	<package id="poshgit" />
	<package id="procexp" />
	<package id="procmon" />
	<package id="python3" />
	<package id="R.Project" />
	<package id="R.Studio" />
	<package id="rapidee" />
	<package id="skype" />
	<package id="wget" />
	<package id="winscp.install" />
	<package id="zazu" />
</packages>
