<?xml version="1.0" encoding="utf-8"?>
<ArrayOfKeyValueOfstringanyType xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.Culture</Key>
    <Value i:nil="true" />
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.FirstTime</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">false</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.LoopDesktop</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.NotificationFontFamily</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">Meiryo UI</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.TrayShowDesktop</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>GeneralSettings.UseDesktopName</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:boolean">true</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.MoveLeftAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.MoveNewAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.MoveRightAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>MouseShortcutSettings.TogglePin</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveLeft</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">37,91,162,160</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveLeftAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveNew</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">68,91,162,160</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveNewAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveRight</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">39,91,162,160</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.MoveRightAndSwitch</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">(none)</Value>
  </KeyValueOfstringanyType>
  <KeyValueOfstringanyType>
    <Key>ShortcutKeySettings.TogglePin</Key>
    <Value xmlns:d3p1="http://www.w3.org/2001/XMLSchema" i:type="d3p1:string">80,91,162</Value>
  </KeyValueOfstringanyType>
</ArrayOfKeyValueOfstringanyType>
