"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "japanese-wrap"
      "markdown-preview"
      "mathjax-wrapper"
      "spell-check"
    ]
    themes: [
      "atom-light-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "f0ec3e51-2f16-5099-84b2-c6a870b108b5"
  "japanese-wrap":
    characterWidth: {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap: {}
  "spell-check": {}
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    tabLength: 4
