"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "japanese-wrap"
      "markdown-preview"
      "mathjax-wrapper"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".dropbox"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "\"MyricaM M\", \"Ricty Diminished Discord\", \"Inconsolata\", \"Consolas\", \"MeiryoKe_Gothic\", \"Meiryo\""
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "f0ec3e51-2f16-5099-84b2-c6a870b108b5"
  "git-diff":
    showIconsInEditorGutter: true
  "japanese-wrap":
    characterWidth: {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "spell-check": {}
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    tabLength: 4
".ini.source":
  editor:
    tabLength: 4
